<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>">
		</div>
		<div class"content">
			<span><%= blog.created.toDateString() %></span>
		</div>
		<div class="description">
			<p><%= blog.body %></p>
		</div>
		<a class="ui inverted green button" href="/blogs">Back</a>
		<a class="ui inverted orange button" href="/blogs/<%= blog._id %>/edit"><i class="edit online icon">Edit</i></a>
		<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
			<button class="negative ui button">Delete</button>
		</form>
	</div>
</div>

<% include ./partials/footer %>